.Dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .col {}

    .infos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (max-width:1140px) {
    .Dashboard {
        grid-template-columns: 1fr;

        .infos {
            display: flex;
        }
    }
}