.SettingsAddress {
    .row {
        padding: 1rem;
        border: 1px solid gray;
        width: min-content;

        .info {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 0.5rem;
            margin-bottom: 0.5rem;

            img {
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
            }

            p {
                text-transform: capitalize;
            }
        }

        input {
            background-color: transparent;
            color: white;
            outline: none;

            &::placeholder {
                color: gray;
            }
        }
    }
}