.Cards {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .headText {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .switch {
            display: flex;

            button {
                padding: 1rem 1.5rem;
                text-transform: capitalize;
                border: 1px solid #6119C5;

                p {
                    opacity: 0.6;
                }
            }

            .active {
                p {
                    opacity: 1;
                }

                // font-weight: 500;
                background-color: #6119C5;

            }
        }
    }
}

@media (max-width:600px) {
    .Cards {
        .switch {
            button {
                padding: 0.5rem 1rem !important;
            }
        }
    }


}