.Navbar {
    padding: 1rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-family: "Istok Web", sans-serif;
            font-size: 1.8rem;
            font-weight: 600;

            p {
                font-size: 1.8rem;

                display: inline;
                color: #6119C5;
                font-weight: 600;
            }
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 1rem;

            .profile {
                display: flex;
                gap: 1rem;
                // margin-left: 2rem;

                h1 {
                    font-weight: 600;
                    display: none;
                }

                img {
                    height: 2rem;
                    width: 2rem;
                    object-fit: cover;
                    border-radius: 5rem;
                    cursor: pointer;

                    &:hover {}
                }
            }

            .nav:hover {


                svg,
                svg path {

                    color: #DF452B;

                }
            }

            .nav {
                position: relative;

                svg {}

                sup {
                    position: absolute;
                    top: -5px;
                    right: -3px;
                    height: 1rem;
                    width: 1rem;
                    background-color: #DF452B;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    p {
                        font-weight: 500;
                    }
                }
            }
        }
    }


}